body {
  color: black;
  font-family: "Heebo", sans-serif;

}
th, td {
  text-align: center;
  border-bottom: 1px solid grey;
  height: 75px;
}


tr:hover {background-color: #f5f5f5;}

.sortbuttons{
  clear:both;
  margin: 40px 200px;
}


.diary.byorder {
  color: white;
}

button:focus {
  outline: none; }

button {
  border: none; }

.diary {
  display: inline-block;
  position: relative;
  padding: 0 15px;
  font-size: 1.5em;

}
.diary.entry {
  margin: 0px 220px;
  background-color: #ebe3cd;
}


.diary.diaryButton {
  font-size: 1.5em;
  border: 2px solid black;
  color: black;
  height: 1.5em;
  clear: both;
  width: 300px;
  margin: 5px; }


.diary.diaryButton:hover {
  border: 0 solid;
  background: black;
  color: white; }

.diary.diaryButton:focus {
  border: 0 solid;
  background: black;
  color: white; }

