
body {
  background: rgb(236, 183, 84);
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

img {
  width: 60%;
}

.achievement {
  display: inline-block;
  position: relative;
  height: 100px;
  line-height: 33px;
  padding: 0 15px;
  font-size: 15px;
  color: rgb(255, 123, 0);
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border: 2px solid;
  border-radius: 7px;
  outline: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);


}

.region {
  width: 500px;
  font-size: 30px;
  color: rgb(255, 0, 0);
}

.location {
  width: 25%;
  color: rgb(238, 223, 92);
}