
$font: 'Heebo', sans-serif;
$blue: #010510;
$orange: #E59516;


body {
  background: #ffffff;
  color: black;
  font-family: $font;
}

img {
  width: 60%;
}

button:focus {
  outline: none;
}
button{
  border: none;
}

// achievements
.achievement {
  display: inline-block;
  position: relative;
  padding: 0 15px;
  font-size: 1.5em;
  // box-shadow: 10px 18px 74px 1px rgba(0,0,0,0.34);
}
.achievement.location {
  display: inline-block;
  border: 2px solid black;
  margin: auto;
  text-align: center;
  clear: both;
  padding: 2px;
  margin: 5px;
}

.achievement.location.complete {
  display: inline-block;
  border: 2px solid $orange;
  color: $orange;
  margin: auto;
  text-align: center;
  clear: both;
  padding: 2px;
  margin: 5px;
}

.achievement.neighbourhood {
  display: inline-block;
  font-size: 2em;
  margin: 5px 0px;
  text-align: center;
  border: 2px solid black;
  color: black;
  height: 1.5em;
  clear: both;
  width: 560px;
}
.achievement.neighbourhood.complete {
  display: inline-block;
  font-size: 2em;
  margin: 5px 0px;
  text-align: center;
  border: 2px solid $orange;
  color: $orange;
  height: 1.5em;
  clear: both;
  width: 560px;
}
.achievement.neighbourhood:hover {
  border: 0 solid;
  background: black;
  color: white;
}

.achievement.neighbourhood:focus {
  border: 0 solid;
  background: black;
  color: white;
}

.achievement.city {
  float: right;
  clear: both;
  padding: 5px 2px 0px 0px;
}
.achievement.city.complete {
  float: right;
  color: $orange;
  clear: both;
  padding: 5px 2px 0px 0px;
}
.achievement.city:hover {
  text-decoration: underline;
}

.achievement.region {
  font-size: 2em;
  float: right;
  border: 2px solid black;
  color: black;
  height: 1.5em;
  clear: both;
  width: 300px;
  margin: 5px;
}
.achievement.region.complete {
  font-size: 2em;
  float: right;
  border: 2px solid $orange;
  color: $orange;
  height: 1.5em;
  clear: both;
  width: 300px;
  margin: 5px;
}
.achievement.region:hover {
  border: 0 solid;
  background: black;
  color: white;
}
.achievement.region:focus {
  border: 0 solid;
  background: black;
  color: white;
}


// containers
.container {
  width: 100%;
  margin: 0px;
}
.container.regioncontainer {
  width: 23%;
  float: left;
  text-align: center;
  // border: 2px solid black;
  height: 55em;
  margin: 0 10px;
  overflow: auto;
}
.container.neighbourhoodcontainer { 
  border: 2px solid black;
  div {
    text-align: center;
  }
  float: left;
  width: 75%;
  height: 25em;
  // border: 2px solid black;
  overflow: auto;
}

.input-coord{
  padding: 5px 0em 0em 3.4em;
  width: 100%;
  height: 75px;
  clear:both;
}

.topnav.element{
  float: right;
  margin: 1.4em 2em;

  a{
    font-size: 1.5em;
    color: black
  }
  a:hover{
    color: $orange;
  }

}

#beacon{
  float: left;
}

#root{
}

.background{
  width: 1152px;
  height: 208px;
  background-image: url(./BeaconEmblem.png);
  margin: 50px auto;
}

.login-form {
  height: 300px;
  width: 300px;
  margin: auto;
  padding: 40px;
  h1 {
    text-align: center;
  }
}

#login-form{
  text-align: center;
}

.container.rightside {
  text-align: center;
}

.googleMap {
  width: 75%;
  border: 4px solid black;
  margin: 10px 10px 0 0;
  float: right;
}

#container {
  width: 100%;
  height: 30em;
  margin: 10px;
}

::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track-piece {
  background-color: white
}
 
::-webkit-scrollbar-thumb {
  background-color: black;
  // outline: 3px solid rgb(0, 0, 0);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
